.input_wrapper{
    display: flex;
    flex-direction: column;
    gap: 5px;
    .label{
        font-size: 14px;
        font-weight: 500;
    }
    input{
        width: 320px;
        height: 40px;
        border-radius: 6px;
        border: 1px solid #e0e0e0;
        outline: none;
        padding: 0 10px;
        background:transparent;
    }
}